Build started...
Build succeeded.
CREATE TABLE [Permissions] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(100) NOT NULL,
    [Resource] nvarchar(100) NOT NULL,
    [Action] nvarchar(50) NOT NULL,
    [Description] nvarchar(500) NULL,
    CONSTRAINT [PK_Permissions] PRIMARY KEY ([Id])
);
GO


CREATE TABLE [Tenants] (
    [Id] uniqueidentifier NOT NULL,
    [Name] nvarchar(100) NOT NULL,
    [Subdomain] nvarchar(50) NOT NULL,
    [Description] nvarchar(500) NULL,
    [ParentTenantId] uniqueidentifier NULL,
    [Address] nvarchar(200) NULL,
    [PostalCode] nvarchar(20) NULL,
    [City] nvarchar(100) NULL,
    [Country] nvarchar(100) NULL,
    [Phone] nvarchar(50) NULL,
    [Email] nvarchar(100) NULL,
    [Website] nvarchar(200) NULL,
    [TaxId] nvarchar(50) NULL,
    [LogoUrl] nvarchar(500) NULL,
    [Theme] int NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Tenants] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Tenants_Tenants_ParentTenantId] FOREIGN KEY ([ParentTenantId]) REFERENCES [Tenants] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [BillingAccounts] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [AccountName] nvarchar(100) NOT NULL,
    [StripeCustomerId] nvarchar(255) NULL,
    [Type] int NOT NULL,
    [Status] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [DeactivatedAt] datetime2 NULL,
    CONSTRAINT [PK_BillingAccounts] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_BillingAccounts_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [ChargingParks] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [Name] nvarchar(100) NOT NULL,
    [Description] nvarchar(500) NULL,
    [Address] nvarchar(200) NOT NULL,
    [PostalCode] nvarchar(20) NOT NULL,
    [City] nvarchar(100) NOT NULL,
    [Country] nvarchar(100) NOT NULL,
    [Latitude] decimal(10,8) NULL,
    [Longitude] decimal(11,8) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_ChargingParks] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingParks_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [Tariffs] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [Name] nvarchar(100) NOT NULL,
    [Description] nvarchar(500) NULL,
    [Currency] nvarchar(3) NOT NULL,
    [IsDefault] bit NOT NULL,
    [IsActive] bit NOT NULL,
    [ValidFrom] datetime2 NULL,
    [ValidUntil] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Tariffs] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Tariffs_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [Users] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [FirstName] nvarchar(100) NOT NULL,
    [LastName] nvarchar(100) NOT NULL,
    [Email] nvarchar(255) NOT NULL,
    [PasswordHash] nvarchar(256) NOT NULL,
    [PhoneNumber] nvarchar(20) NULL,
    [Role] int NOT NULL,
    [IsActive] bit NOT NULL,
    [IsEmailConfirmed] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [LastLoginAt] datetime2 NULL,
    [RefreshToken] nvarchar(500) NULL,
    [RefreshTokenExpiresAt] datetime2 NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Users_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [Vehicles] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [LicensePlate] nvarchar(50) NOT NULL,
    [Make] nvarchar(100) NOT NULL,
    [Model] nvarchar(100) NOT NULL,
    [Year] int NOT NULL,
    [Type] int NOT NULL,
    [Color] nvarchar(100) NOT NULL,
    [Notes] nvarchar(500) NULL,
    [RfidTag] nvarchar(100) NULL,
    [QrCode] nvarchar(100) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [DeactivatedAt] datetime2 NULL,
    CONSTRAINT [PK_Vehicles] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Vehicles_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [ChargingStationGroups] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [ChargingParkId] uniqueidentifier NULL,
    [Name] nvarchar(100) NOT NULL,
    [Description] nvarchar(500) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_ChargingStationGroups] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingStationGroups_ChargingParks_ChargingParkId] FOREIGN KEY ([ChargingParkId]) REFERENCES [ChargingParks] ([Id]),
    CONSTRAINT [FK_ChargingStationGroups_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [ChargingStations] (
    [Id] uniqueidentifier NOT NULL,
    [ChargingParkId] uniqueidentifier NOT NULL,
    [StationId] nvarchar(50) NOT NULL,
    [Name] nvarchar(100) NOT NULL,
    [Vendor] nvarchar(100) NOT NULL,
    [Model] nvarchar(100) NOT NULL,
    [SerialNumber] nvarchar(100) NULL,
    [FirmwareVersion] nvarchar(100) NULL,
    [Iccid] nvarchar(50) NULL,
    [Imsi] nvarchar(50) NULL,
    [MeterType] nvarchar(100) NULL,
    [MeterSerialNumber] nvarchar(100) NULL,
    [ConfigurationJson] nvarchar(max) NULL,
    [LastConfigurationUpdate] datetime2 NULL,
    [FirmwareStatus] nvarchar(50) NULL,
    [LastFirmwareStatusUpdate] datetime2 NULL,
    [Type] int NOT NULL,
    [MaxPower] int NOT NULL,
    [NumberOfConnectors] int NOT NULL,
    [Status] int NOT NULL,
    [Latitude] decimal(10,8) NULL,
    [Longitude] decimal(11,8) NULL,
    [Notes] nvarchar(500) NULL,
    [ChargeBoxId] nvarchar(100) NULL,
    [OcppPassword] nvarchar(255) NULL,
    [OcppProtocol] nvarchar(50) NULL,
    [OcppEndpoint] nvarchar(500) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [LastHeartbeat] datetime2 NULL,
    CONSTRAINT [PK_ChargingStations] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingStations_ChargingParks_ChargingParkId] FOREIGN KEY ([ChargingParkId]) REFERENCES [ChargingParks] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [TariffComponents] (
    [Id] uniqueidentifier NOT NULL,
    [TariffId] uniqueidentifier NOT NULL,
    [Type] int NOT NULL,
    [Price] decimal(10,4) NOT NULL,
    [StepSize] int NULL,
    [TimeStart] nvarchar(5) NULL,
    [TimeEnd] nvarchar(5) NULL,
    [DaysOfWeek] nvarchar(50) NULL,
    [MinimumCharge] decimal(10,4) NULL,
    [MaximumCharge] decimal(10,4) NULL,
    [GracePeriodMinutes] int NULL,
    [DisplayOrder] int NOT NULL,
    [IsActive] bit NOT NULL,
    CONSTRAINT [PK_TariffComponents] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_TariffComponents_Tariffs_TariffId] FOREIGN KEY ([TariffId]) REFERENCES [Tariffs] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [AuthorizationMethods] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [Type] int NOT NULL,
    [Identifier] nvarchar(200) NOT NULL,
    [FriendlyName] nvarchar(100) NULL,
    [IsActive] bit NOT NULL,
    [ValidFrom] datetime2 NULL,
    [ValidUntil] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    [LastUsedAt] datetime2 NULL,
    [Metadata] nvarchar(1000) NULL,
    CONSTRAINT [PK_AuthorizationMethods] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_AuthorizationMethods_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [QrCodes] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [Code] nvarchar(100) NOT NULL,
    [Type] int NOT NULL,
    [ChargingParkId] uniqueidentifier NULL,
    [UserId] uniqueidentifier NULL,
    [Description] nvarchar(500) NULL,
    [ExpiresAt] datetime2 NULL,
    [MaxUses] int NULL,
    [CurrentUses] int NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [LastUsedAt] datetime2 NULL,
    CONSTRAINT [PK_QrCodes] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_QrCodes_ChargingParks_ChargingParkId] FOREIGN KEY ([ChargingParkId]) REFERENCES [ChargingParks] ([Id]),
    CONSTRAINT [FK_QrCodes_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_QrCodes_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id])
);
GO


CREATE TABLE [UserGroups] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [Name] nvarchar(100) NOT NULL,
    [Description] nvarchar(500) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [InviteToken] nvarchar(100) NULL,
    [InviteTokenExpiresAt] datetime2 NULL,
    [UserId] uniqueidentifier NULL,
    CONSTRAINT [PK_UserGroups] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_UserGroups_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_UserGroups_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id])
);
GO


CREATE TABLE [VehicleAssignments] (
    [Id] uniqueidentifier NOT NULL,
    [VehicleId] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [AssignmentType] int NOT NULL,
    [AssignedAt] datetime2 NOT NULL,
    [ReturnedAt] datetime2 NULL,
    [Notes] nvarchar(500) NULL,
    CONSTRAINT [PK_VehicleAssignments] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_VehicleAssignments_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_VehicleAssignments_Vehicles_VehicleId] FOREIGN KEY ([VehicleId]) REFERENCES [Vehicles] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [ChargingPoints] (
    [Id] uniqueidentifier NOT NULL,
    [ChargingStationId] uniqueidentifier NOT NULL,
    [EvseId] int NOT NULL,
    [EvseIdExternal] nvarchar(48) NULL,
    [Name] nvarchar(100) NOT NULL,
    [Description] nvarchar(500) NULL,
    [MaxPower] int NOT NULL,
    [ConnectorType] nvarchar(50) NOT NULL,
    [ConnectorFormat] nvarchar(50) NULL,
    [PowerType] nvarchar(20) NULL,
    [MaxCurrent] int NOT NULL,
    [MaxVoltage] int NOT NULL,
    [PhysicalReference] nvarchar(50) NULL,
    [Status] int NOT NULL,
    [PublicKey] nvarchar(4000) NULL,
    [CertificateChain] nvarchar(max) NULL,
    [SupportsSmartCharging] bit NOT NULL,
    [SupportsRemoteStartStop] bit NOT NULL,
    [SupportsReservation] bit NOT NULL,
    [TariffInfo] nvarchar(2000) NULL,
    [Notes] nvarchar(500) NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    [LastStatusChange] datetime2 NULL,
    CONSTRAINT [PK_ChargingPoints] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingPoints_ChargingStations_ChargingStationId] FOREIGN KEY ([ChargingStationId]) REFERENCES [ChargingStations] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [ChargingStationDiagnostics] (
    [Id] uniqueidentifier NOT NULL,
    [ChargingStationId] uniqueidentifier NOT NULL,
    [RequestedAt] datetime2 NOT NULL,
    [CompletedAt] datetime2 NULL,
    [DiagnosticsUrl] nvarchar(500) NULL,
    [FileName] nvarchar(100) NULL,
    [Status] nvarchar(50) NOT NULL,
    [ErrorMessage] nvarchar(1000) NULL,
    [StartTime] datetime2 NULL,
    [StopTime] datetime2 NULL,
    CONSTRAINT [PK_ChargingStationDiagnostics] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingStationDiagnostics_ChargingStations_ChargingStationId] FOREIGN KEY ([ChargingStationId]) REFERENCES [ChargingStations] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [ChargingStationFirmwareHistory] (
    [Id] uniqueidentifier NOT NULL,
    [ChargingStationId] uniqueidentifier NOT NULL,
    [FirmwareVersion] nvarchar(100) NOT NULL,
    [Status] nvarchar(50) NOT NULL,
    [Info] nvarchar(1000) NULL,
    [Timestamp] datetime2 NOT NULL,
    CONSTRAINT [PK_ChargingStationFirmwareHistory] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingStationFirmwareHistory_ChargingStations_ChargingStationId] FOREIGN KEY ([ChargingStationId]) REFERENCES [ChargingStations] ([Id]) ON DELETE CASCADE
);
GO


CREATE TABLE [ChargingStationGroupMemberships] (
    [Id] uniqueidentifier NOT NULL,
    [ChargingStationGroupId] uniqueidentifier NOT NULL,
    [ChargingStationId] uniqueidentifier NOT NULL,
    [AssignedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_ChargingStationGroupMemberships] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingStationGroupMemberships_ChargingStationGroups_ChargingStationGroupId] FOREIGN KEY ([ChargingStationGroupId]) REFERENCES [ChargingStationGroups] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ChargingStationGroupMemberships_ChargingStations_ChargingStationId] FOREIGN KEY ([ChargingStationId]) REFERENCES [ChargingStations] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [GroupPermissions] (
    [Id] uniqueidentifier NOT NULL,
    [UserGroupId] uniqueidentifier NOT NULL,
    [PermissionId] uniqueidentifier NOT NULL,
    [AssignedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_GroupPermissions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_GroupPermissions_Permissions_PermissionId] FOREIGN KEY ([PermissionId]) REFERENCES [Permissions] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_GroupPermissions_UserGroups_UserGroupId] FOREIGN KEY ([UserGroupId]) REFERENCES [UserGroups] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [UserGroupChargingStationGroupPermissions] (
    [Id] uniqueidentifier NOT NULL,
    [UserGroupId] uniqueidentifier NOT NULL,
    [ChargingStationGroupId] uniqueidentifier NOT NULL,
    [GrantedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_UserGroupChargingStationGroupPermissions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_UserGroupChargingStationGroupPermissions_ChargingStationGroups_ChargingStationGroupId] FOREIGN KEY ([ChargingStationGroupId]) REFERENCES [ChargingStationGroups] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_UserGroupChargingStationGroupPermissions_UserGroups_UserGroupId] FOREIGN KEY ([UserGroupId]) REFERENCES [UserGroups] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [UserGroupMemberships] (
    [Id] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NOT NULL,
    [UserGroupId] uniqueidentifier NOT NULL,
    [AssignedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_UserGroupMemberships] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_UserGroupMemberships_UserGroups_UserGroupId] FOREIGN KEY ([UserGroupId]) REFERENCES [UserGroups] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_UserGroupMemberships_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [UserGroupTariffs] (
    [Id] uniqueidentifier NOT NULL,
    [UserGroupId] uniqueidentifier NOT NULL,
    [TariffId] uniqueidentifier NOT NULL,
    [Priority] int NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_UserGroupTariffs] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_UserGroupTariffs_Tariffs_TariffId] FOREIGN KEY ([TariffId]) REFERENCES [Tariffs] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_UserGroupTariffs_UserGroups_UserGroupId] FOREIGN KEY ([UserGroupId]) REFERENCES [UserGroups] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [ChargingSessions] (
    [Id] uniqueidentifier NOT NULL,
    [TenantId] uniqueidentifier NOT NULL,
    [ChargingPointId] uniqueidentifier NOT NULL,
    [UserId] uniqueidentifier NULL,
    [VehicleId] uniqueidentifier NULL,
    [QrCodeId] uniqueidentifier NULL,
    [AuthorizationMethodId] uniqueidentifier NULL,
    [SessionId] nvarchar(100) NOT NULL,
    [OcppTransactionId] int NULL,
    [StartedAt] datetime2 NOT NULL,
    [ChargingCompletedAt] datetime2 NULL,
    [EndedAt] datetime2 NULL,
    [EnergyDelivered] decimal(10,3) NOT NULL,
    [Cost] decimal(10,2) NOT NULL,
    [Status] int NOT NULL,
    [Notes] nvarchar(1000) NULL,
    CONSTRAINT [PK_ChargingSessions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_ChargingSessions_AuthorizationMethods_AuthorizationMethodId] FOREIGN KEY ([AuthorizationMethodId]) REFERENCES [AuthorizationMethods] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ChargingSessions_ChargingPoints_ChargingPointId] FOREIGN KEY ([ChargingPointId]) REFERENCES [ChargingPoints] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ChargingSessions_QrCodes_QrCodeId] FOREIGN KEY ([QrCodeId]) REFERENCES [QrCodes] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ChargingSessions_Tenants_TenantId] FOREIGN KEY ([TenantId]) REFERENCES [Tenants] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ChargingSessions_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE NO ACTION,
    CONSTRAINT [FK_ChargingSessions_Vehicles_VehicleId] FOREIGN KEY ([VehicleId]) REFERENCES [Vehicles] ([Id]) ON DELETE NO ACTION
);
GO


CREATE TABLE [BillingTransactions] (
    [Id] uniqueidentifier NOT NULL,
    [BillingAccountId] uniqueidentifier NOT NULL,
    [ChargingSessionId] uniqueidentifier NULL,
    [TransactionType] nvarchar(100) NOT NULL,
    [Amount] decimal(10,2) NOT NULL,
    [Currency] nvarchar(3) NOT NULL,
    [StripePaymentIntentId] nvarchar(255) NULL,
    [Status] int NOT NULL,
    [Description] nvarchar(1000) NULL,
    [CreatedAt] datetime2 NOT NULL,
    [ProcessedAt] datetime2 NULL,
    CONSTRAINT [PK_BillingTransactions] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_BillingTransactions_BillingAccounts_BillingAccountId] FOREIGN KEY ([BillingAccountId]) REFERENCES [BillingAccounts] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_BillingTransactions_ChargingSessions_ChargingSessionId] FOREIGN KEY ([ChargingSessionId]) REFERENCES [ChargingSessions] ([Id])
);
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Action', N'Description', N'Name', N'Resource') AND [object_id] = OBJECT_ID(N'[Permissions]'))
    SET IDENTITY_INSERT [Permissions] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Action', N'Description', N'Name', N'Resource') AND [object_id] = OBJECT_ID(N'[Permissions]'))
    SET IDENTITY_INSERT [Permissions] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Address', N'City', N'Country', N'CreatedAt', N'Description', N'Email', N'IsActive', N'LogoUrl', N'Name', N'ParentTenantId', N'Phone', N'PostalCode', N'Subdomain', N'TaxId', N'Theme', N'UpdatedAt', N'Website') AND [object_id] = OBJECT_ID(N'[Tenants]'))
    SET IDENTITY_INSERT [Tenants] ON;
INSERT INTO [Tenants] ([Id], [Address], [City], [Country], [CreatedAt], [Description], [Email], [IsActive], [LogoUrl], [Name], [ParentTenantId], [Phone], [PostalCode], [Subdomain], [TaxId], [Theme], [UpdatedAt], [Website])
VALUES ('11111111-1111-1111-1111-111111111111', N'Musterstra├ƒe 123', N'Berlin', N'Deutschland', '2025-10-25T07:09:02.0057058Z', N'Hauptunternehmen f├╝r Lade-Management', N'info@chargingcontrol.de', CAST(1 AS bit), NULL, N'ChargingControl GmbH', NULL, N'+49 30 12345678', N'10115', N'chargingcontrol', N'DE123456789', 0, NULL, N'https://www.chargingcontrol.de');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Address', N'City', N'Country', N'CreatedAt', N'Description', N'Email', N'IsActive', N'LogoUrl', N'Name', N'ParentTenantId', N'Phone', N'PostalCode', N'Subdomain', N'TaxId', N'Theme', N'UpdatedAt', N'Website') AND [object_id] = OBJECT_ID(N'[Tenants]'))
    SET IDENTITY_INSERT [Tenants] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AccountName', N'CreatedAt', N'DeactivatedAt', N'Status', N'StripeCustomerId', N'TenantId', N'Type') AND [object_id] = OBJECT_ID(N'[BillingAccounts]'))
    SET IDENTITY_INSERT [BillingAccounts] ON;
INSERT INTO [BillingAccounts] ([Id], [AccountName], [CreatedAt], [DeactivatedAt], [Status], [StripeCustomerId], [TenantId], [Type])
VALUES ('dddd1111-1111-1111-1111-111111111111', N'Hauptkonto ChargingControl GmbH', '2025-10-25T07:09:02.0057399Z', NULL, 0, NULL, '11111111-1111-1111-1111-111111111111', 1);
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AccountName', N'CreatedAt', N'DeactivatedAt', N'Status', N'StripeCustomerId', N'TenantId', N'Type') AND [object_id] = OBJECT_ID(N'[BillingAccounts]'))
    SET IDENTITY_INSERT [BillingAccounts] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Address', N'City', N'Country', N'CreatedAt', N'Description', N'IsActive', N'Latitude', N'Longitude', N'Name', N'PostalCode', N'TenantId') AND [object_id] = OBJECT_ID(N'[ChargingParks]'))
    SET IDENTITY_INSERT [ChargingParks] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Address', N'City', N'Country', N'CreatedAt', N'Description', N'IsActive', N'Latitude', N'Longitude', N'Name', N'PostalCode', N'TenantId') AND [object_id] = OBJECT_ID(N'[ChargingParks]'))
    SET IDENTITY_INSERT [ChargingParks] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Address', N'City', N'Country', N'CreatedAt', N'Description', N'Email', N'IsActive', N'LogoUrl', N'Name', N'ParentTenantId', N'Phone', N'PostalCode', N'Subdomain', N'TaxId', N'Theme', N'UpdatedAt', N'Website') AND [object_id] = OBJECT_ID(N'[Tenants]'))
    SET IDENTITY_INSERT [Tenants] ON;
INSERT INTO [Tenants] ([Id], [Address], [City], [Country], [CreatedAt], [Description], [Email], [IsActive], [LogoUrl], [Name], [ParentTenantId], [Phone], [PostalCode], [Subdomain], [TaxId], [Theme], [UpdatedAt], [Website])
VALUES ('aaaabbbb-1111-2222-3333-444444444444', N'Acme Stra├ƒe 456', N'M├╝nchen', N'Deutschland', '2025-10-30T07:09:02.0057069Z', N'Sub-Tenant f├╝r Acme Corporation', N'info@acme.de', CAST(1 AS bit), NULL, N'Acme GmbH', '11111111-1111-1111-1111-111111111111', N'+49 89 98765432', N'80331', N'acme', N'DE987654321', 0, NULL, N'https://www.acme.de');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Address', N'City', N'Country', N'CreatedAt', N'Description', N'Email', N'IsActive', N'LogoUrl', N'Name', N'ParentTenantId', N'Phone', N'PostalCode', N'Subdomain', N'TaxId', N'Theme', N'UpdatedAt', N'Website') AND [object_id] = OBJECT_ID(N'[Tenants]'))
    SET IDENTITY_INSERT [Tenants] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'InviteToken', N'InviteTokenExpiresAt', N'IsActive', N'Name', N'TenantId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroups]'))
    SET IDENTITY_INSERT [UserGroups] ON;
INSERT INTO [UserGroups] ([Id], [CreatedAt], [Description], [InviteToken], [InviteTokenExpiresAt], [IsActive], [Name], [TenantId], [UserId])
VALUES ('33333333-3333-3333-3333-333333333333', '2025-10-25T07:09:02.0057097Z', N'Vollst├ñndige Administrator-Rechte', NULL, NULL, CAST(1 AS bit), N'Administratoren', '11111111-1111-1111-1111-111111111111', NULL);
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'InviteToken', N'InviteTokenExpiresAt', N'IsActive', N'Name', N'TenantId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroups]'))
    SET IDENTITY_INSERT [UserGroups] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Email', N'FirstName', N'IsActive', N'IsEmailConfirmed', N'LastLoginAt', N'LastName', N'PasswordHash', N'PhoneNumber', N'RefreshToken', N'RefreshTokenExpiresAt', N'Role', N'TenantId') AND [object_id] = OBJECT_ID(N'[Users]'))
    SET IDENTITY_INSERT [Users] ON;
INSERT INTO [Users] ([Id], [CreatedAt], [Email], [FirstName], [IsActive], [IsEmailConfirmed], [LastLoginAt], [LastName], [PasswordHash], [PhoneNumber], [RefreshToken], [RefreshTokenExpiresAt], [Role], [TenantId])
VALUES ('22222222-2222-2222-2222-222222222222', '2025-10-25T07:09:02.0057131Z', N'admin@chargingcontrol.com', N'Admin', CAST(1 AS bit), CAST(1 AS bit), '2025-11-23T07:09:02.0057132Z', N'User', N'$2a$11$QUxBZq94RgWvH09M.ER7EuF6Ju3mP45b9cEXAS99Iz09cAfKEZUeW', NULL, NULL, NULL, 1, '11111111-1111-1111-1111-111111111111');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Email', N'FirstName', N'IsActive', N'IsEmailConfirmed', N'LastLoginAt', N'LastName', N'PasswordHash', N'PhoneNumber', N'RefreshToken', N'RefreshTokenExpiresAt', N'Role', N'TenantId') AND [object_id] = OBJECT_ID(N'[Users]'))
    SET IDENTITY_INSERT [Users] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Color', N'CreatedAt', N'DeactivatedAt', N'IsActive', N'LicensePlate', N'Make', N'Model', N'Notes', N'QrCode', N'RfidTag', N'TenantId', N'Type', N'Year') AND [object_id] = OBJECT_ID(N'[Vehicles]'))
    SET IDENTITY_INSERT [Vehicles] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Color', N'CreatedAt', N'DeactivatedAt', N'IsActive', N'LicensePlate', N'Make', N'Model', N'Notes', N'QrCode', N'RfidTag', N'TenantId', N'Type', N'Year') AND [object_id] = OBJECT_ID(N'[Vehicles]'))
    SET IDENTITY_INSERT [Vehicles] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'ChargeBoxId', N'ChargingParkId', N'ConfigurationJson', N'CreatedAt', N'FirmwareStatus', N'FirmwareVersion', N'Iccid', N'Imsi', N'IsActive', N'LastConfigurationUpdate', N'LastFirmwareStatusUpdate', N'LastHeartbeat', N'Latitude', N'Longitude', N'MaxPower', N'MeterSerialNumber', N'MeterType', N'Model', N'Name', N'Notes', N'NumberOfConnectors', N'OcppEndpoint', N'OcppPassword', N'OcppProtocol', N'SerialNumber', N'StationId', N'Status', N'Type', N'Vendor') AND [object_id] = OBJECT_ID(N'[ChargingStations]'))
    SET IDENTITY_INSERT [ChargingStations] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'ChargeBoxId', N'ChargingParkId', N'ConfigurationJson', N'CreatedAt', N'FirmwareStatus', N'FirmwareVersion', N'Iccid', N'Imsi', N'IsActive', N'LastConfigurationUpdate', N'LastFirmwareStatusUpdate', N'LastHeartbeat', N'Latitude', N'Longitude', N'MaxPower', N'MeterSerialNumber', N'MeterType', N'Model', N'Name', N'Notes', N'NumberOfConnectors', N'OcppEndpoint', N'OcppPassword', N'OcppProtocol', N'SerialNumber', N'StationId', N'Status', N'Type', N'Vendor') AND [object_id] = OBJECT_ID(N'[ChargingStations]'))
    SET IDENTITY_INSERT [ChargingStations] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'ChargingParkId', N'Code', N'CreatedAt', N'CurrentUses', N'Description', N'ExpiresAt', N'IsActive', N'LastUsedAt', N'MaxUses', N'TenantId', N'Type', N'UserId') AND [object_id] = OBJECT_ID(N'[QrCodes]'))
    SET IDENTITY_INSERT [QrCodes] ON;
INSERT INTO [QrCodes] ([Id], [ChargingParkId], [Code], [CreatedAt], [CurrentUses], [Description], [ExpiresAt], [IsActive], [LastUsedAt], [MaxUses], [TenantId], [Type], [UserId])
VALUES ('eeee2222-2222-2222-2222-222222222222', 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa', N'CC-PARK-001', '2025-11-14T07:09:02.0057429Z', 0, N'Einladung zum Hauptparkplatz', '2026-11-24T07:09:02.0057427Z', CAST(1 AS bit), NULL, 100, '11111111-1111-1111-1111-111111111111', 0, NULL);
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'ChargingParkId', N'Code', N'CreatedAt', N'CurrentUses', N'Description', N'ExpiresAt', N'IsActive', N'LastUsedAt', N'MaxUses', N'TenantId', N'Type', N'UserId') AND [object_id] = OBJECT_ID(N'[QrCodes]'))
    SET IDENTITY_INSERT [QrCodes] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AssignedAt', N'UserGroupId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroupMemberships]'))
    SET IDENTITY_INSERT [UserGroupMemberships] ON;
INSERT INTO [UserGroupMemberships] ([Id], [AssignedAt], [UserGroupId], [UserId])
VALUES ('ccccdddd-1111-2222-3333-444444444444', '2025-10-25T07:09:02.0057161Z', '33333333-3333-3333-3333-333333333333', '22222222-2222-2222-2222-222222222222');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AssignedAt', N'UserGroupId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroupMemberships]'))
    SET IDENTITY_INSERT [UserGroupMemberships] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'InviteToken', N'InviteTokenExpiresAt', N'IsActive', N'Name', N'TenantId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroups]'))
    SET IDENTITY_INSERT [UserGroups] ON;
INSERT INTO [UserGroups] ([Id], [CreatedAt], [Description], [InviteToken], [InviteTokenExpiresAt], [IsActive], [Name], [TenantId], [UserId])
VALUES ('aaaabbbb-3333-4444-5555-666666666666', '2025-10-30T07:09:02.0057100Z', N'Administrator-Rechte f├╝r Acme', NULL, NULL, CAST(1 AS bit), N'Acme Administratoren', 'aaaabbbb-1111-2222-3333-444444444444', NULL);
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'InviteToken', N'InviteTokenExpiresAt', N'IsActive', N'Name', N'TenantId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroups]'))
    SET IDENTITY_INSERT [UserGroups] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Email', N'FirstName', N'IsActive', N'IsEmailConfirmed', N'LastLoginAt', N'LastName', N'PasswordHash', N'PhoneNumber', N'RefreshToken', N'RefreshTokenExpiresAt', N'Role', N'TenantId') AND [object_id] = OBJECT_ID(N'[Users]'))
    SET IDENTITY_INSERT [Users] ON;
INSERT INTO [Users] ([Id], [CreatedAt], [Email], [FirstName], [IsActive], [IsEmailConfirmed], [LastLoginAt], [LastName], [PasswordHash], [PhoneNumber], [RefreshToken], [RefreshTokenExpiresAt], [Role], [TenantId])
VALUES ('aaaabbbb-2222-3333-4444-555555555555', '2025-10-30T07:09:02.0057139Z', N'admin@acme.com', N'John', CAST(1 AS bit), CAST(1 AS bit), '2025-11-22T07:09:02.0057140Z', N'Doe', N'$2a$11$QUxBZq94RgWvH09M.ER7EuF6Ju3mP45b9cEXAS99Iz09cAfKEZUeW', NULL, NULL, NULL, 1, 'aaaabbbb-1111-2222-3333-444444444444');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Email', N'FirstName', N'IsActive', N'IsEmailConfirmed', N'LastLoginAt', N'LastName', N'PasswordHash', N'PhoneNumber', N'RefreshToken', N'RefreshTokenExpiresAt', N'Role', N'TenantId') AND [object_id] = OBJECT_ID(N'[Users]'))
    SET IDENTITY_INSERT [Users] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AssignedAt', N'AssignmentType', N'Notes', N'ReturnedAt', N'UserId', N'VehicleId') AND [object_id] = OBJECT_ID(N'[VehicleAssignments]'))
    SET IDENTITY_INSERT [VehicleAssignments] ON;
INSERT INTO [VehicleAssignments] ([Id], [AssignedAt], [AssignmentType], [Notes], [ReturnedAt], [UserId], [VehicleId])
VALUES ('cccc0000-0000-0000-0000-000000000000', '2025-11-17T07:09:02.0057364Z', 1, NULL, NULL, '22222222-2222-2222-2222-222222222222', '66666666-6666-6666-6666-666666666666');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AssignedAt', N'AssignmentType', N'Notes', N'ReturnedAt', N'UserId', N'VehicleId') AND [object_id] = OBJECT_ID(N'[VehicleAssignments]'))
    SET IDENTITY_INSERT [VehicleAssignments] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CertificateChain', N'ChargingStationId', N'ConnectorFormat', N'ConnectorType', N'CreatedAt', N'Description', N'EvseId', N'EvseIdExternal', N'IsActive', N'LastStatusChange', N'MaxCurrent', N'MaxPower', N'MaxVoltage', N'Name', N'Notes', N'PhysicalReference', N'PowerType', N'PublicKey', N'Status', N'SupportsRemoteStartStop', N'SupportsReservation', N'SupportsSmartCharging', N'TariffInfo') AND [object_id] = OBJECT_ID(N'[ChargingPoints]'))
    SET IDENTITY_INSERT [ChargingPoints] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CertificateChain', N'ChargingStationId', N'ConnectorFormat', N'ConnectorType', N'CreatedAt', N'Description', N'EvseId', N'EvseIdExternal', N'IsActive', N'LastStatusChange', N'MaxCurrent', N'MaxPower', N'MaxVoltage', N'Name', N'Notes', N'PhysicalReference', N'PowerType', N'PublicKey', N'Status', N'SupportsRemoteStartStop', N'SupportsReservation', N'SupportsSmartCharging', N'TariffInfo') AND [object_id] = OBJECT_ID(N'[ChargingPoints]'))
    SET IDENTITY_INSERT [ChargingPoints] OFF;
GO


IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AssignedAt', N'UserGroupId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroupMemberships]'))
    SET IDENTITY_INSERT [UserGroupMemberships] ON;
INSERT INTO [UserGroupMemberships] ([Id], [AssignedAt], [UserGroupId], [UserId])
VALUES ('ccccdddd-2222-3333-4444-555555555555', '2025-10-30T07:09:02.0057164Z', 'aaaabbbb-3333-4444-5555-666666666666', 'aaaabbbb-2222-3333-4444-555555555555');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'AssignedAt', N'UserGroupId', N'UserId') AND [object_id] = OBJECT_ID(N'[UserGroupMemberships]'))
    SET IDENTITY_INSERT [UserGroupMemberships] OFF;
GO


CREATE INDEX [IX_AuthorizationMethods_UserId] ON [AuthorizationMethods] ([UserId]);
GO


CREATE INDEX [IX_BillingAccounts_TenantId] ON [BillingAccounts] ([TenantId]);
GO


CREATE INDEX [IX_BillingTransactions_BillingAccountId] ON [BillingTransactions] ([BillingAccountId]);
GO


CREATE INDEX [IX_BillingTransactions_ChargingSessionId] ON [BillingTransactions] ([ChargingSessionId]);
GO


CREATE INDEX [IX_ChargingParks_TenantId] ON [ChargingParks] ([TenantId]);
GO


CREATE INDEX [IX_ChargingPoints_ChargingStationId] ON [ChargingPoints] ([ChargingStationId]);
GO


CREATE INDEX [IX_ChargingSessions_AuthorizationMethodId] ON [ChargingSessions] ([AuthorizationMethodId]);
GO


CREATE INDEX [IX_ChargingSessions_ChargingPointId] ON [ChargingSessions] ([ChargingPointId]);
GO


CREATE INDEX [IX_ChargingSessions_QrCodeId] ON [ChargingSessions] ([QrCodeId]);
GO


CREATE INDEX [IX_ChargingSessions_TenantId] ON [ChargingSessions] ([TenantId]);
GO


CREATE INDEX [IX_ChargingSessions_UserId] ON [ChargingSessions] ([UserId]);
GO


CREATE INDEX [IX_ChargingSessions_VehicleId] ON [ChargingSessions] ([VehicleId]);
GO


CREATE INDEX [IX_ChargingStationDiagnostics_ChargingStationId] ON [ChargingStationDiagnostics] ([ChargingStationId]);
GO


CREATE INDEX [IX_ChargingStationFirmwareHistory_ChargingStationId] ON [ChargingStationFirmwareHistory] ([ChargingStationId]);
GO


CREATE INDEX [IX_ChargingStationGroupMemberships_ChargingStationGroupId] ON [ChargingStationGroupMemberships] ([ChargingStationGroupId]);
GO


CREATE INDEX [IX_ChargingStationGroupMemberships_ChargingStationId] ON [ChargingStationGroupMemberships] ([ChargingStationId]);
GO


CREATE INDEX [IX_ChargingStationGroups_ChargingParkId] ON [ChargingStationGroups] ([ChargingParkId]);
GO


CREATE INDEX [IX_ChargingStationGroups_TenantId] ON [ChargingStationGroups] ([TenantId]);
GO


CREATE INDEX [IX_ChargingStations_ChargingParkId] ON [ChargingStations] ([ChargingParkId]);
GO


CREATE UNIQUE INDEX [IX_ChargingStations_StationId] ON [ChargingStations] ([StationId]);
GO


CREATE INDEX [IX_GroupPermissions_PermissionId] ON [GroupPermissions] ([PermissionId]);
GO


CREATE UNIQUE INDEX [IX_GroupPermissions_UserGroupId_PermissionId] ON [GroupPermissions] ([UserGroupId], [PermissionId]);
GO


CREATE INDEX [IX_QrCodes_ChargingParkId] ON [QrCodes] ([ChargingParkId]);
GO


CREATE UNIQUE INDEX [IX_QrCodes_Code] ON [QrCodes] ([Code]);
GO


CREATE INDEX [IX_QrCodes_TenantId] ON [QrCodes] ([TenantId]);
GO


CREATE INDEX [IX_QrCodes_UserId] ON [QrCodes] ([UserId]);
GO


CREATE INDEX [IX_TariffComponents_TariffId] ON [TariffComponents] ([TariffId]);
GO


CREATE UNIQUE INDEX [IX_Tariffs_TenantId_Name] ON [Tariffs] ([TenantId], [Name]);
GO


CREATE INDEX [IX_Tenants_ParentTenantId] ON [Tenants] ([ParentTenantId]);
GO


CREATE UNIQUE INDEX [IX_Tenants_Subdomain] ON [Tenants] ([Subdomain]);
GO


CREATE INDEX [IX_UserGroupChargingStationGroupPermissions_ChargingStationGroupId] ON [UserGroupChargingStationGroupPermissions] ([ChargingStationGroupId]);
GO


CREATE INDEX [IX_UserGroupChargingStationGroupPermissions_UserGroupId] ON [UserGroupChargingStationGroupPermissions] ([UserGroupId]);
GO


CREATE INDEX [IX_UserGroupMemberships_UserGroupId] ON [UserGroupMemberships] ([UserGroupId]);
GO


CREATE UNIQUE INDEX [IX_UserGroupMemberships_UserId_UserGroupId] ON [UserGroupMemberships] ([UserId], [UserGroupId]);
GO


CREATE INDEX [IX_UserGroups_TenantId] ON [UserGroups] ([TenantId]);
GO


CREATE INDEX [IX_UserGroups_UserId] ON [UserGroups] ([UserId]);
GO


CREATE INDEX [IX_UserGroupTariffs_TariffId] ON [UserGroupTariffs] ([TariffId]);
GO


CREATE UNIQUE INDEX [IX_UserGroupTariffs_UserGroupId_TariffId] ON [UserGroupTariffs] ([UserGroupId], [TariffId]);
GO


CREATE UNIQUE INDEX [IX_Users_TenantId_Email] ON [Users] ([TenantId], [Email]);
GO


CREATE INDEX [IX_VehicleAssignments_UserId] ON [VehicleAssignments] ([UserId]);
GO


CREATE INDEX [IX_VehicleAssignments_VehicleId] ON [VehicleAssignments] ([VehicleId]);
GO


CREATE UNIQUE INDEX [IX_Vehicles_TenantId_LicensePlate] ON [Vehicles] ([TenantId], [LicensePlate]);
GO



